p {
height: 100px;
width: 200px;
text-align: center;
color: blue;
text-transform: uppercase;
padding-top: 30px;
font-size: 18px;
}


.red {
background-color: red;
border: 20px solid green;
}


.yellow {
background-color: yellow;
position: absolute;
left: 250px;
top: 0px;
border: 20px solid red;
}

.green {
background-color: green;
position: absolute;
left: 500px;
top: 0px;
border: 20px solid yellow;
}
