p {
height: 100px;
width: 200px;
}


.red {
background-color: red;
padding-top: 20px;
}


.yellow {
background-color: yellow;
padding-top: 20px;
position: absolute;
left: 250px;
top: 0px;
}

.green {x
background-color: green;
padding-top: 20px;
position: absolute;
left: 500px;
top: 0px;
}
