.red {
height: 100px;
width: 200px;
background-color: red;
padding-top: 20px;
}


.yellow {
height: 100px;
width: 200px;
background-color: yellow;
padding-top: 20px;
position: absolute;
left: 250px;
top: 0px;
}

.green {
height: 100px;
width: 200px;
background-color: green;
padding-top: 20px;
position: absolute;
left: 500px;
top: 0px;
}
